<div class="bg-muted">

  <article class="relative container flow-root">

    <div class="relative mt-72 mb-36 z-50  grid gap-20 lg:grid-cols-2 lg:place-items-center">


      <div class="grid gap-8 place-items-center sm:gap-10 lg:place-items-start lg:place-content-start lg:gap-6 ">

        <h1 class="text-center font-bold text-3xl font-heading sm:text-4xl lg:text-left">Build The Community Your Fans
          Will Love</h1>

        <p class="text-center lg:text-left">Huddle re-images the way we build communities. You have a voice, but so does
          your
          audience.
          Create connections
          with yours users as you engage in genuine discussion.</p>

        <div>
          <a class="btn btn-primary" href="#">Get Started For Free</a>
        </div>
      </div>

      <!-- hero image -->
      <img class="w-full" src="/assets/images/illustration-mockups.svg" alt="Hero">
      <!-- end hero image -->
    </div>

    <!-- pattern mobile -->
    <img class="absolute inset-0 h-full w-full lg:hidden" src="/assets/images/bg-hero-mobile.svg" alt="Pattern">
    <!-- end pattern mobile -->

    <!-- pattern  desktop -->
    <img class="absolute inset-0 h-full w-full hidden lg:block" src="/assets/images/bg-hero-desktop.svg" alt="Pattern">
    <!-- end pattern  desktop -->
  </article>

</div>
