<footer class="bg-footer pt-56 pb-20 text-inverted">
  <div class="container ">


    <!-- logo -->
    <img src="/assets/images/logo-white.svg" alt="Logo">
    <!-- end logo -->

    <div class="mt-10 grid gap-16 lg:grid-cols-3">

      <div class="grid gap-6">
        <!-- location -->
        <div class="flex gap-4 items-start">
          <div>
            <img class="w-8" src="/assets/images/icon-location.svg" alt="Location">
          </div>

          <p class="-mt-2 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dicta architecto vitae
            officiis eligendi
            voluptas!
          </p>
        </div>
        <!-- end location -->

        <!-- phone -->
        <div class="flex gap-4 items-center">
          <div>
            <img class="" src="/assets/images/icon-phone.svg" alt="Location">
          </div>

          <p class="text-lg"> +1-543-123-4567 </p>
        </div>
        <!-- end phone -->

        <!-- email -->
        <div class="flex gap-4 items-center">
          <div>
            <img class="" src="/assets/images/icon-email.svg" alt="Location">
          </div>

          <p class="text-lg">example@fylo.com</p>
        </div>
        <!-- end email -->
      </div>

      <!-- links -->
      <div class=" grid gap-4 text-xl lg:grid-cols-2">
        <ul class="grid gap-4 place-content-start">
          <li>
            <a href="#" class="text-inverted">About Us</a>
          </li>
          <li>
            <a href="#" class="text-inverted">What We Do</a>
          </li>
          <li>
            <a href="#" class="text-inverted">FAQ</a>
          </li>
        </ul>

        <ul class="grid gap-4 place-content-start">
          <li>
            <a href="#" class="text-inverted">Career</a>
          </li>
          <li>
            <a href="#" class="text-inverted">Blog</a>
          </li>
          <li>
            <a href="#" class="text-inverted">Contact Us</a>
          </li>
        </ul>
      </div>
      <!-- end links -->

      <div class="space-y-8 ">

        <!-- socials -->
        <div class="grid place-items-center lg:place-items-start">

          <ul class="flex gap-4">
            <!-- facebook -->
            <li
              class="grid w-10 h-10 border border-white rounded-full place-content-center hover:text-accent hover:border-muted">
              <a class="" href="#"><span class="fab fa-facebook-f"></span></a>
            </li>
            <!-- end facebook -->

            <!-- twitter -->
            <li
              class="grid w-10 h-10 border border-white rounded-full place-content-center hover:text-accent hover:border-muted">
              <a href="#"><span class="fab fa-twitter"></span></a>
            </li>
            <!-- end twitter -->


            <!-- instagram -->
            <li
              class="grid w-10 h-10 border border-white rounded-full place-content-center hover:text-accent hover:border-muted">
              <a href="#"><span class="fab fa-instagram"></span></a>
            </li>
            <!-- end instagram -->
          </ul>
        </div>
        <!-- end socials -->

        <p class="text-center lg:text-left">Copyright &copy; 2020 Fylo. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
